body{
    margin:0px;
}

#myVideo {
    position: fixed;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
    z-index: -1;
}

#SHimg{
    position: relative;
    top:25vh;
    height:30vh;
    right:10vw;
}

#GEimg{
    position: relative;
    top:25vh;
    height:30vh;
    left:10vw;
}

#BASEimg{
    position: relative;
    height:20vh;
    top:-10vh;
    right:2vw;
    transition:all 2s;
}

#BASEimg:hover{
    transform: rotate(360deg);
    filter: drop-shadow(2px 2px 2px grey);
}