body{
    margin:0px;
}

#myVideo {
    position: fixed;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
    z-index: -1;
}

#SHimg{
    position: relative;
    top:33vh;
    left:15vw;
    height:30vh;
}

#GEimg{
    position: relative;
    top:33vh;
    left:40vw;
    height:30vh;
}

#BASEimg{
    position: relative;
    top:1vh;
    left:49vw;
    height:15vh;
}